<div class="grid-container">
  <h1 class="mat-h1">Welcome, {{ name }}.</h1>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <plotly-plot [data]="card.data" [layout]="card.layout"></plotly-plot>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card>
    <mat-card-content>
      <app-wordcloud></app-wordcloud>

    </mat-card-content>

  </mat-card>
</div>
<button mat-raised-button color="primary" (click)="this.getAllTweetsMonth();">Toon maand</button>