<div class="grid-container">
  <h1 class="mat-h1">Welcome, {{ name }}.</h1>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <plotly-plot [data]="card.data" [layout]="card.layout"></plotly-plot>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  <mat-grid-tile *ngFor="let Time of timeline | async" [colspan]="Time.cols" [rowspan]="Time.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ Time.title }}
          </mat-card-title>
        </mat-card-header>
        <button mat-raised-button color="primary" (click)="this.getAllTweetsDay();">Show 24HR</button>
  <button mat-raised-button color="primary" (click)="this.getAllTweetsWeek();">Show week</button>
  <button mat-raised-button color="primary" (click)="this.getAllTweetsMonth();">Show month</button>
        <mat-card-content class="dashboard-card-content">
          <plotly-plot [data]="Time.data" [layout]="Time.layout"></plotly-plot>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


<mat-grid-tile>
 <table>
    <tr>
      <th style="background-color: sandybrown">Username</th>
      <th style="background-color: sandybrown">Text</th>
      <th style="background-color: sandybrown">Post date</th>
    </tr>

    <tr *ngFor="let post of orderedTweetsArray" >
      <td>{{post.user_screenname}}</td>
      <td>{{post.trimmed_text}}</td>
      <td>{{post.created_at}}</td>
    </tr>

    
  </table>
  


</mat-grid-tile>

  </mat-grid-list>
  <mat-card>
    <mat-card-content>
      <app-wordcloud></app-wordcloud>

    </mat-card-content>

  </mat-card>
</div>