@import '../../styles.scss';

.grid-container {
  margin: 20px;
}

.button-container {
  display:flex;
  padding: 0 15px;
  button {
    margin-right: 15px;
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.rad-info-box {

  .number, .title {
    display: block;
    position: relative;
    text-align: right;
  }

  .number {
    font-size: 2.1em;
    font-weight: 700;
    color: mat-color($angular-primary, 300);
    margin-top: 5px;
  }

  .title {
    font-size: 1.2em;
    color: #515d6e;
    font-weight: 400;
    text-transform: uppercase;
  }

  mat-icon {
    display: block;
    background-clip: padding-box;
    margin-right: 15px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 4.4em;
    position: absolute;

    &.primary {
      color: mat-color($angular-primary, 500);
    }

    &.blue {
      color : mat-color(mat-palette($mat-blue), 500);
    }

    &.teal {
      color : mat-color(mat-palette($mat-teal), 500);
    }

    &.purple {
      color : mat-color(mat-palette($mat-purple), 500);
    }
  }
}