<div class="grid-container">
  <h1 class="mat-h1" *ngIf="name != undefined;">Welcome, {{ name }}.</h1>
  <mat-grid-list cols="4" rowHeight="2rem">
    <ng-container *ngFor="let component of components | async">
      <mat-grid-tile [colspan]="component?.cols" [rowspan]="component?.rows" *ngIf="component?.show == true;">
        <mat-card class="dashboard-card">
          <ng-container *ngIf="component?.type != 'agg-numbers';">
            <mat-card-header>
              <mat-card-title>
                {{ component?.title }}
              </mat-card-title>
            </mat-card-header>
          </ng-container>

          <mat-card-content class="dashboard-card-content">
            <ng-container *ngIf="component?.type == 'agg-numbers';">
              <app-agg-number [component]="component"></app-agg-number>
            </ng-container>
            <ng-container *ngIf="component?.type == 'wordcloud';">
              <wordcloud></wordcloud>
            </ng-container>
            <ng-container *ngIf="component?.type == 'plotly-plot';">
            <app-plotly-plot></app-plotly-plot>
            </ng-container>
            <ng-container *ngIf="component?.type == 'plotly-table';">
              <app-plotly-table></app-plotly-table>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
