<mat-sidenav-container class="sidenav-container">


    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Thuisbezorgd Insight</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button (click)="signInWithGoogle()"
        matTooltip="Toggle theme"
        aria-label="Example icon-button with share icon">
        <mat-icon>invert_colors</mat-icon>
      </button>
      </mat-toolbar>
      <!-- Add Content Here -->
      <app-dashboard></app-dashboard>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  