@import '../styles.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-sidenav {
  width: 280px;
  padding:15px;
}
.mat-drawer { 
  background-color: mat-color($angular-primary, 300);
  color:#fff
}
.main-content {
  padding:20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.avatar {
  width:40px;
  border-radius: 50%;
}

.logo-container {
  margin-left: 10px;
  #logo{
    width: 50%;
  }

  span {
    margin-top: 2%;
    margin-left: 5px;
    font-weight: 600;
  }

}



.span {
  font-style: oblique;
}