<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>table_chart</mat-icon>
        <span>Alle tweets</span>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>bar_chart</mat-icon>
        <span>Tweet timeline</span>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>room</mat-icon>
        <span>Tweets op locatie</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxLayoutAlign="start center" class="logo-container">
        <img id="logo" src="../assets/thuisbezorgd.svg"/>
        <span>Insight</span>
      </span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </a>
        <div mat-menu-item>
          <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
            <span>Toggle dark theme</span>
          </mat-slide-toggle>
        </div>
      </mat-menu>

      <div *ngIf="loggedIn===true" class="profile-container">
        <!-- User is logged in. -->
        <img class="avatar" [src]="user?.photoUrl"/>
        <button mat-raised-button color="warn" (click)="signOut()" matTooltip="Toggle theme"
        aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <app-dashboard [title]="user?.name"></app-dashboard> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>