<ng-container *ngIf="component?.enableButtons == true;">
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="this.getAllTweetsDay();">Toon vandaag</button>
      <button mat-raised-button color="primary" (click)="this.getAllTweetsWeek();">Toon afgelopen week</button>
      <button mat-raised-button color="primary" (click)="this.getAllTweetsMonth();">Toon afgelopen maand</button>
    </div>
</ng-container>

<plotly-plot [data]="component?.data" [layout]="component?.layout"></plotly-plot>