<table mat-table matSort class="full-width-table" id="last-tweet-table">
  <ng-container matColumnDef="user_screenname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Gebruikersnaam</th>
    <td mat-cell *matCellDef="let tweet"> {{tweet?.user_screenname}}</td>
  </ng-container>

  <ng-container matColumnDef="trimmed_text">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Review</th>

    <td mat-cell *matCellDef="let tweet">
      <div class="trimmed-text-container">
        <span [matTooltip]="tweet?.text" matTooltipClass="tweet-tooltip">{{tweet?.trimmed_text}}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>gecreëerd op</th>
    <td mat-cell *matCellDef="let tweet">{{tweet?.created_at}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>