#last-tweet-table th {
    background-color: #ff9800!important;
    font-weight: 500!important;
    color: black !important;
    font-size: .9rem !important;
  }
  
td, th {
text-align: left;
padding: 8px;
}  