<div id="loader" *ngIf="this.spinnerLoading">
    <div class="spinner-wrapper">
      <mat-spinner *ngIf="this.req_succeeded" class="spinner-border" [diameter]="150">
        <span class="sr-only">Loading...</span>
      </mat-spinner>
      <div *ngIf="!this.req_succeeded" class="err">
        <mat-icon class="err_icon" >sentiment_very_dissatisfied</mat-icon>
        <p class="err_msg">Oeps! Probeer het later nog eens.</p>
        <button mat-raised-button color="primary" (click)="this.utilsService.reload('/', 'table/all-tweets')"
        aria-label="Example icon-button with share icon">
        <span>Probeer opnieuw</span>
        </button>
      </div>
    </div>
</div>

<div class="container">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Zoek op...</mat-label>
      <input matInput placeholder="woorden" (keyup)="search($any($event.target).value)" autocomplete="off">
      <mat-icon matSuffix>search</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </p>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="this.getAllTweetsToday();">Toon Vandaag</button>
    <button mat-raised-button color="primary" (click)="this.getAllTweetsWeek();">Toon Afgelopen week</button>
    <button mat-raised-button color="primary" (click)="this.getAllTweetsMonth();">Toon Afgelopen maand</button>
    <button mat-raised-button color="primary" (click)="this.getAllTweets();">Toon Alles</button>

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>First campaign</mat-label> 
  <mat-date-range-input
    [formGroup]="campaignOne"
    [rangePicker]="campaignOnePicker"
    [comparisonStart]="campaignTwo.value.start"
    [comparisonEnd]="campaignTwo.value.end">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="end">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
  <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
</mat-form-field>

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Second campaign</mat-label>
  <mat-date-range-input
    [formGroup]="campaignTwo"
    [rangePicker]="campaignTwoPicker"
    [comparisonStart]="campaignOne.value.start"
    [comparisonEnd]="campaignOne.value.end">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="end">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
  <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
</mat-form-field>




  </div>
  <p class="filterType" *ngIf="this.filterType != null">Zoek resultaten van: {{this.filterType}}</p>
    <table mat-table class="full-width-table" matSort aria-label="Tweets">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="trimmed_text">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
        <td mat-cell *matCellDef="let row">
          <div class="trimmed-text-container">
            <span [matTooltip]="row.text" matTooltipClass="tweet-tooltip">{{row.trimmed_text}}</span>
          </div>
        </td>
      </ng-container>
  
      <!-- Username Column -->
      <ng-container matColumnDef="user_screenname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id="user_screenname_column">User</th>
        <td mat-cell *matCellDef="let row">{{row.user_screenname}}</td>
      </ng-container>
  
      <!-- Created at Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created at</th>
        <td mat-cell *matCellDef="let row">{{row.created_at}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>
</div>