[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jedi = "*"
rope = "*"
autopep8 = "*"
yapf = "*"
flake8 = "*"
flask = "*"
tweepy = "*"
sqlalchemy = "*"
emoji = "*"
pymysql = "*"
cryptography = "*"
flask-cors = "*"
wordcloud = "*"
nltk = "*"
pytest = "*"
gunicorn = "*"
pyarrow = "*"
gensim = "*"
sklearn = "*"
openpyxl = "*"
textblob = "*"
selenium = "*"
spacy = "*"
matplotlib = "*"


[dev-packages]

[requires]
python_version = "3"

[twint.packages]
{git = "https://github.com/twintproject/twint.git"}
